.dialog__media {
  padding: 16px;
  .image {
    img {
      cursor: pointer;
      width: 100%;
      padding: 16px;
      box-sizing: border-box;
      display: inline-block;
      vertical-align: middle;
      line-height: 1px;
    }
  }

  &--loading {
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}
